[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "pack/plugins/start/vim-svelte"]
	path = pack/plugins/start/vim-svelte
	url = git@github.com:evanleck/vim-svelte.git
[submodule "pack/plugins/start/supertab"]
	path = pack/plugins/start/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "pack/plugins/start/vim-snippets"]
	path = pack/plugins/start/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "pack/plugins/start/vim-addon-mw-utils"]
	path = pack/plugins/start/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "pack/plugins/start/tlib"]
	path = pack/plugins/start/tlib
	url = git@github.com:tomtom/tlib_vim.git
[submodule "pack/plugins/start/vim-snipmate"]
	path = pack/plugins/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "pack/plugins/start/emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
